// @import url(../responsive/responsive.scss);

*
{
    margin: 0;
    padding: 0;
}

.container-fluid 
{
    margin: auto;
    padding: 0;

    & > .header {
        background-color: #1A1A18;

        & > .row {
            max-width: 1200px;
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;

            & > .col-6 {
                display: flex;
                align-items: center;

                & > button {
                    padding: 15px 30px;
                    background-color: #E3000F;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    & > h1 {
                        color: #fff;
                        font-size: 19px;
                        margin: 0;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        font-weight: 300;
                    }
                    & > i{
                        margin-right: 8px;
                    }
                }
                & > .lang {
                    margin-left: 25px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    & > img {
                        width: 30px;
                        border-radius: 4px;
                    }
                    & > i {
                        margin-left: 15px;
                        color: #fff;
                        font-size: 22px;
                    }
                }
                & > .logo {
                    padding: 15px;
                    width: 160px;
                    cursor: pointer;
                }
            }
            & > .col-6:nth-child(2) {
                justify-content: end;
            }
        }
    }
    & > .main {
        width: auto;
        margin: auto;
        background: #FDE67E;
        display: flex;
        position: relative;
        overflow: hidden;

        & > .header__bannerIcon1 {
            position: relative;

            & > img {
                position: absolute;
                z-index: 2;
            }
        }
        & > .header__bannerIcon2 {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            right: 0%;
            bottom: 0%;
        }

        & > .header__wrapper {
            width: 1300px;
            margin: auto;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > .header__main {
                padding-bottom: 150px;

                & > .header__banner {
                    margin-bottom: 25px;

                    & > button {
                        padding: 15px 30px;
                        background-color: #e3000f;
                        border-radius: 15px;
                        border: none;
                        font-size: 1.8rem;
                        color: #fff;
                        font-weight: 800;
                        box-shadow: 5px 12px 18px #810009;
                    }
                }
                & > .header__footer {
                    display: flex;

                    & > .header__foot {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-right: 25px;

                        & > img {
                            border-radius: 10px;
                            width: 50px;
                            margin-bottom: 15px;
                        }
                        & > .header__footerImg {
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                            margin-bottom: 15px;
                            border: 1px solid #000;
                            overflow: hidden;

                            & > img {
                                width: 50px;
                            }
                        }
                        & > button {
                            padding: 10px 15px;
                            border: none;
                            outline: none;
                            background-color: #fff;
                            border-radius: 8px;
                            font-size: 1rem;
                            cursor: pointer;
                            font-weight: 700;

                            & > .fa-android {
                                color: #00c44b;
                                margin-right: 10px;
                            }
                        }
                        & > p {
                            font-size: 1rem;
                            margin-top: 10px;
                            font-weight: 400;
                            color: #272727;
                            font-family: sans-serif;
                        }
                    }
                }
            }
            & > .header__video {
                padding-bottom: 150px;
            }
        }
    }
    & > .section {
        & > .section__main {
            margin: auto;
            display: flex;

            & > .section__one {
                width: 50%;
                background-color: #1a1a18;
                color: #fff;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                align-items: center;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif;

                & > h1 {
                    margin-left: 80px;
                    font-size: 2.2rem;
                    font-weight: 700;
                    color: #fde67e;
                }
                & > .sec__main {
                    margin-top: 35px;
                    margin-left: 80px;
                    display: flex;

                    & > img {
                        width: 100px;
                        margin-right: 8px;
                    }
                    & > .section__menu {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        & > p {
                            width: 390px;
                            font-size: 1.2rem;
                            font-weight: 200;
                        }
                        & > h2 {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
            & > .section__two {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                & > img {
                    width: 500px;
                }
            }
        }
    }
    & > .section__slayd {
        background-image: url("../img/bg-info.png");
        background-size: cover;

        & > .carousel {
            padding: 150px 0 150px 0;
            & > .carousel-inner {
                & > .carousel-item{
                    & > .flex-center{
                        width: 100%;
                        height: 500px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        & > .carousel-caption {
                            position: relative;
                            z-index: 2;
                            width: 100%;
                            bottom: 0;
                            left: 0;

                            & > p {
                                text-align: center;
                                font-size: 1.6rem;
                                color: #000;
                                font-weight: 800;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            }
                        }
                    }
                }
                & > .carousel-indicators {
                    & > .active{
                        background-color: #E3000F !important;
                    }
                }
            }
        }
    }
    & > .section__foot {
        background-color: #1a1a18;
        color: #fff;
        border-bottom: 3px solid #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        & > .sec__footCard {
            max-width: 1400px;
            margin: auto;
            width: 85%;
            padding: 100px 0 100px 0;
            height: auto;
            margin: auto;

            & > .sec__card {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 65px;

                & > .card{
                    width: 240px;
                    height: 200px;
                    background-color: red;
                    border-radius: 35px;
                    display: flex;
                    padding: 10px 10px 10px 40px;
                    flex-direction: column;
                    justify-content: center;

                    & > h2 {
                        font-size: 2rem !important;
                        font-weight: 900;
                        margin-bottom: 10px;
                    }
                    & > p {
                        font-size: 16px;
                        font-weight: 300;
                    }
                    & > h3 {
                        font-size: 1.2rem;
                        font-weight: 800;
                    }
                }
                & > .card__active {
                    padding: 50px 40px;
                    background-color: #fde67e;
                    border-radius: 35px;
                    color: #000;
                    box-shadow: 0 0 34px 10px #fde67e3d;

                    & > h2 {
                        font-weight: 800;
                        font-size: 2rem !important;
                    }
                    & > h1 {
                        font-weight: 800;
                        font-size: 3.2rem !important;
                    }
                    & > p {
                        font-weight: 400;
                        font-size: 0.9rem !important;
                    }
                    & > h3 {
                        font-weight: 800;
                        font-size: 1.4rem !important;
                    }
                }
            }
            & > h1{
                font-size: 2.6rem;
                font-weight: 800;
            }
            & > .section__footText {
                & > h1 {
                    font-weight: 800;
                }
                & > h2 {
                    font-weight: 900;
                }
            } 

        }
    }
    & > .footer {
        width: 100%;
        background-color: #1a1a18;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        & > .foot__text {
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.2rem;
            font-weight: 800;
            
            & > p{
                margin: 0;
                padding: 0;
            }
        }
        & > .link {
            font-size: 1.2rem;
            color: #fff;

            & > a {
                text-decoration: none;
                color: #fff;
            }
            & > a:hover {
                color: blue;
            }
            & > .fa-brands
            {
                font-size: 1.6rem;
                cursor: pointer;
                color: grey;
                margin: 5px;
            }
            & > .fa-brands:hover {
                color: #fff;
            }
        }
    }
}


